body {
    background-color: rgb(56, 141, 197);
}

.box {
    border: 2px solid black;
    padding: 20px;
    background-color: gray;
}

.box, a{
    text-align: center;
    margin-top: 80%;
    font-size: 50px;
    text-decoration: none;
    color: black;
}
