table {
    table-layout: fixed;
}

th {
    background-color: rgb(58, 118, 197);
}

table, th, tr, td {
    border: 2px solid black;
}

td, .link, a {
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: gray;
}

.monday {
    background-color: yellow;
}

.tuesday {
    background-color: pink;
}

.wednesday {
    background-color: green;
}

.thursday {
    background-color: orange;
}
.friday {
    background-color: rgba(0, 200, 255, 0.901);
}
