body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

.edu, .room {
    font-size: 20px;
    padding: 30px;
    margin-bottom: 45px;
    margin-top: 233px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

.select-container {
    display: flex;
}

.edu, .room {
    margin-right: 10px;
}
